* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #071C4D;
    /* background-color: #071C4D; */
}

.hero img {
    position: absolute;
    z-index: 0;
    align-items: center;
    min-height: 750px;
    width: 100%;
    object-fit: cover;
}

.hero_Slideshow img {
    position: absolute;
    z-index: 0;
    align-items: center;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

.hero_inner img {
    min-height: 750px;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.4;
}

.btn-save {
    padding: 15px;
    background-color: #FF9E53;
    color: #ffffff;
}

.btn-submit {
    padding: 12px;
    background-color: #FF9E53;
    color: #ffffff;
}

.btn-save:hover {
    background-color: #0032A3;
    color: #ffffff;
}

.btn-submit:hover {
    background-color: #0032A3;
    color: #ffffff;
}

.page-login {
    height: 100vh;
    position: absolute;
    z-index: 2;
    margin: auto;
    margin-left: -15px;
}

.page-login .section-left h1 {
    font-family: "Akaya Telivigala";
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    color: #ffffff;
}

.mySlides {
    display: none;
}

.map_invite img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 700px;
}

.card_map_invite {
    margin-top: 200px;
    opacity: 0.9;
    background-color: #9c9c9c;
}

.section-fail {
    height: 90vh;
}

.section-fail h1 {
    font-weight: 600;
    font-size: 26px;
    color: #FF0000;
}

.section-fail p {
    font-weight: 300;
    font-size: 18px;
    color: #b1b1b1;
}

.logo_sad img {
    max-width: 300px;
    max-height: 300px;
}

@media (max-width: 450px) {
    .map_invite img {
        width: 70%;
        height: 450px;
    }
    .card_map_invite {
        margin-top: 200px;
    }
}

@media (min-width: 320px) {
    .hero_Slideshow img {
        max-height: 1000px;
        width: 100%;
    }
    .page-login .section-right {
        margin-top: -100px;
    }
    .form-group input {
        width: 280px;
    }
}

@media (min-width: 1000px) {
    .hero_inner img {
        min-height: 2280px;
    }
    .page-login {
        margin-top: 420px;
        margin-left: 120px;
    }
}